<div *ngIf="errors">
  <h1 align="center">Errors</h1>
  <ul style="padding-right: 40px">
    <mat-list-item *ngFor="let error of errors">
        <mat-card class="card">
          <mat-card-header routerLink="/errors/{{error.id}}">
            <div *ngIf="error.process">
            <mat-card-title>Process: {{error.process.processName}}, Exception: {{error.errorType}}</mat-card-title>
              <mat-card-subtitle>{{error.errorDetail}}</mat-card-subtitle>
            </div>
            <div *ngIf="!error.process">
            <mat-card-title>Process: None, Exception: {{error.errorType}}</mat-card-title>
            <mat-card-subtitle>{{error.errorDetail}}</mat-card-subtitle>
            </div>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button (click)="deleteError(error.id)">Delete</button>
          </mat-card-actions>
        </mat-card>
      <mat-divider></mat-divider>
    </mat-list-item>
  </ul>
</div>
<div style="width: 100%; height: 90%; align-items: center; display: flex; justify-content: center"  *ngIf="!errors">
  <mat-spinner></mat-spinner>
</div>
