<div style="justify-content: center; display: flex">
<h1>Welcome to the site: {{title}}!</h1>
</div>
<div style="display: flex; justify-content: center">
  <img src="https://i.ibb.co/Pm0x4zs/save.jpg" alt="IMG-3396">
</div>
<div style="display: flex; justify-content: center; align-items: center">
  <h2>How does it work?</h2>
</div>
<div style=" padding-left: 30%; padding-right: 30%; display: flex; justify-content: center; align-items: center">
  <p>The process in blue prism has a HTTP Post method on the process when an error occurs,
    sending the error to the rest api, which saves it in the database.
    The Angular client makes a HTTP request of the type "GET" which gets the errors and process names.
    This makes it easier for the RPA team in Norlys to see processes which has failed and what kind of error it is.
  </p>
</div>
<div style="display: flex; justify-content: center; align-items: center">

</div>

